<!DOCTYPE html>
<html>
<head>
  <title>{{username}}:{{query}}</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/new.css">
  <link rel="shortcut icon" type="image/jpg" href="../images/logo.jpg">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style/dashboard.css">
  <link rel="stylesheet" type="text/css" href="style/contact.css">
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <script src="js/search.js"></script>
  <script src="js/dashboard.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/lib/angular-1.6.10/angular.js"></script>
    <script src="/js/appAngular.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body id="body1">
<div class="contain">
    <div class="container">
  <nav class="nav navbar-custom">
    <div class="container-fluid" id="heading">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><i class="fa fa-home" aria-hidden="true" style="font-size: 1.2em;margin-top:5px;"></i></a></li>
        <li><a href="/team"><i class="fa fa-users" aria-hidden="true" style="font-size: 1.2em;margin-top:5px;"></i></a></li>
        <li><a href="/chat"><i class="fa fa-comments" aria-hidden="true" style="font-size: 1.2em;margin-top:5px;"></i></a></li>
        <div class="nav navbar-header" style="margin-right: 100px;margin-left: 100px;">
        <nav class="navbar-brand"><a href="/"><img src="../images/logo.jpg" style="height:40px;width:40px;border-radius: 0%;padding-bottom: 2px;"></a></nav>
        </div>
        <li style="margin-top: 15px;"><section class="user">
                <form action="/user" method="get">
                        <input type="text" id="search" name="search" placeholder="Search By Username..." style="width: 300px;border-radius: 5px;height: 30px;border:1px solid black;padding-left: 5px;">
                      <button type="submit" class="btn" style="background: none;color: white;"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
          </section>
        </li>
        <li><a href="/users/logout" style="margin-right: 150px;"><i class="fas fa-sign-out-alt" style="font-size: 1.2em;"></i></a></li>
      </ul>
    </div>
  </nav>
</div>
</div>
  <div class="container">
    <h1 class="brand"><span>Conectar</span></h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Query Form</h3>
        <ul>
          <li><i class="fa fa-phone"></i> (+91)-9413605678</li>
          <li><i class="fa fa-envelope"></i>conectar589@gmail.com</li>
        </ul>
      </div>
      <div class="contact" name="contact">
        <h3>Email Us</h3>
        {{msg}}
        <form method="POST" action="send">
          <p>
            <label>Name</label>
            <input type="text" name="name">
          </p>
          <p>
            <label>Company</label>
            <input type="text" name="company">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email">
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" name="phone">
          </p>
          <p class="full">
            <label>Message</label>
            <textarea name="message" rows="5"></textarea>
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
  <footer id="myFooter" style="margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 myCols">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/tag">Explore</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 myCols">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="/about">About Conectar</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 myCols">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Conectar © 2018. All rights reserved.  </p>
        </div>
    </footer>
<script>
  var vol = 0;
    const wage = document.getElementById('body1');
    wage.addEventListener('keydown', (e) => {
        if (e.key === 'Enter') {
            vol = 20;
            speak('Hello there, Your feedback is highly appreciated for the Conectar Platform...',vol);
            speak('We ensure to resolve your query.',vol);
        }
    });
  function speak(text1,v) {
      var msg = new SpeechSynthesisUtterance();
      var voices = window.speechSynthesis.getVoices()
      console.log(voices);
      msg.volume = v;
      msg.rate = 1.5;
      msg.pitch = 10;
      msg.text = text1;
      window.speechSynthesis.speak(msg);
    };
</script>
</body>
</html>