<!DOCTYPE html>
<html>
<head>
	<title>{{team}}</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/new.css">
	<link rel="shortcut icon" type="image/jpg" href="../images/logo.jpg">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style/dashboard.css">
	<link rel="stylesheet" type="text/css" href="style/contact.css">
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<script src="js/search.js"></script>
	<script src="js/dashboard.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script
				  src="https://code.jquery.com/jquery-3.3.1.min.js"
				  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
				  crossorigin="anonymous"></script>

	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <script src="/lib/angular-1.6.10/angular.js"></script>
	  <script src="/js/appAngular.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<style>
.hexagon1 span {
    position: absolute;
    display: block;
    float:left;
	border-left: 130px solid #fff;
	border-right: 130px solid #fff;
}

.top1 {
top: 0;
border-top: 0px solid transparent;
 border-bottom: 75px solid transparent;
}

.bottom1{
bottom: 0px;
border-bottom: 0px solid transparent;
border-top: 75px solid transparent;
}

.hexagon1 {
    width: 260px;
    height: 245px;
    position: relative;
    display: inline-block;
}
</style>
<body>
	<div class="contain">
		<div class="container">
	<nav class="nav navbar-custom">
		<div class="container-fluid" id="heading">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/"><i class="fa fa-home" aria-hidden="true" style="font-size: 1.2em;margin-top:5px;"></i></a></li>
				<li><a href="/team" style="color: black;"><i class="fa fa-users" aria-hidden="true" style="font-size: 1.2em;margin-top:5px;"></i></a></li>
				<li><a href="/chat"><i class="fa fa-comments" aria-hidden="true" style="font-size: 1.2em;margin-top:5px;"></i></a></li>
				<div class="nav navbar-header" style="margin-right: 100px;margin-left: 100px;">
				<nav class="navbar-brand"><a href="/"><img src="../images/logo.jpg" style="height:40px;width:40px;border-radius: 0%;padding-bottom: 2px;"></a></nav>
				</div>
				<li style="margin-top: 15px;"><section class="user">
						    <form action="/user" method="get">
						            <input type="text" id="search" name="search" placeholder="Search By Username..." style="width: 300px;border-radius: 5px;height: 30px;border:1px solid black;padding-left: 5px;">
						        	<button type="submit" class="btn" style="background: none;color: white;"><i class="fa fa-search" aria-hidden="true"></i></button>
						    </form>
					</section>
				</li>
				<li><a href="/users/logout" style="margin-right: 150px;"><i class="fas fa-sign-out-alt"></i></a></li>
			</ul>
		</div>
	</nav>
</div>
</div>
<div class="col-md-12" style="background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/team.jpg);height: 300px;box-shadow:0 0 10px black;background-size: 100%;">
			<h1 style="text-align: center;margin-top:8%; color: white;font-size: 50px;font-family: serif;">
				Our Team
			</h1>
</div>
<div>
<center>
	<h1 style="font-size: 50px;">Think Big!!</h1>
	<p style="font-size: 20px;">"Conectar is our Vision to guide others like us to be a part of the biggest revolution ahead of us..."</p>
</center>
</div>
<div class="container-fluid" style="padding-top: 30px;padding-top: 30px;">
<div class="hexagon1 pic" style="
    background: url('../images/ayush.png');
    background-size: 100%;">
<span class="top1"></span>
<span class="bottom1"></span>
</div>
<div class="hexagon1 pic" style="
    background: url('../images/vipul.jpg');
    background-size: 100%;">
<span class="top1"></span>
<span class="bottom1"></span>
</div>
<div class="hexagon1 pic" style="
    background: url('../images/vishal.jpg');
    background-size: 100%;">
<span class="top1"></span>
<span class="bottom1"></span>
</div>
<div class="hexagon1 pic" style="
    background: url('../images/sudhanshu.jpg');
    background-size: 100%;">
<span class="top1"></span>
<span class="bottom1"></span>
</div>
<div class="hexagon1 pic" style="
    background: url('../images/jayesh.jpg');
    background-size: 100%;">
<span class="top1"></span>
<span class="bottom1"></span>
</div>
</div>
<div style="background: #F8F9F9;">
<center>
	<h1 style="padding-top: 5%;">Conectar is Growing</h1>
	<h1 style="padding-bottom: 3%;">Join Us...</h1>
</center>
</div>
<footer id="myFooter" style="margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 myCols">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/tag">Explore</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 myCols">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="/about">About Conectar</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 myCols">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Conectar © 2018. All rights reserved.  </p>
        </div>
    </footer>
</body>
</html>